:root {
  --primary-color: orange;
  --primary-color-hover: rgb(16, 116, 106);
  --paper-color-dark: #efefef;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.bg-light {
  background-color: white;
}
.text-center {
  text-align: center;
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.link-light {
  color: white;
}

.link-light:hover {
  color: rgb(199, 195, 195);
}

/* nav bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: rgb(179, 172, 172);
}

@media screen and (max-width: 768px) {
  /* #menuBtn {
      display: block;
    } */
  .banner-text h1 {
    font-size: 60px !important;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
  nav {
    display: block;
    text-align: center;
  }
  nav ul {
    /* margin: 20px 0px 0px 20px; */
    background-color: grey;
    justify-content: space-around;
    border-radius: 50px;
  }
}

/* home page banner */

#banner {
  /* the image taken from https://unsplash.com/ */
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary-color)),
    url(Image/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 140px;
  filter: invert(1);
}

.banner-text {
  text-align: center;
  color: #fff;
}
.banner-text h1 {
  font-size: 130px;
  font-family: 'Kaushan Script', cursive;
}
.banner-text p {
  font-size: 20px;
  font-style: italic;
}
.banner-btn {
  margin: 70px auto 0;
}
.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: #000;
}

/*--feature--*/

#feature {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text p::after {
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(var(--primary-color), #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1 {
  font-size: 50px;
}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.features {
  flex-basis: 50%;
}
.features-img {
  flex-basis: 50%;
  margin: auto;
}
.features-img img {
  width: 70%;
  border-radius: 10px;
}
.features h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--primary-color);
}
.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.feature-icon .fa {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.feature-text p {
  padding: 0 20px;
  text-align: initial;
}
@media screen and (max-width: 768px) {
  .title-text h1 {
    font-size: 35px;
  }
  .features {
    flex-basis: 100%;
  }
  .features-img {
    flex-basis: 100%;
  }
  .features-img img {
    width: 100%;
  }
}
