:root {
  --primary-color: orange;
  --primary-color-hover: rgb(16, 116, 106);
  --paper-color-dark: #efefef;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.bg-light {
  background-color: white;
}
.text-center {
  text-align: center;
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.link-light {
  color: white;
}

.link-light:hover {
  color: rgb(199, 195, 195);
}

/* nav bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: rgb(179, 172, 172);
}

@media screen and (max-width: 768px) {
  /* #menuBtn {
      display: block;
    } */
  .banner-text h1 {
    font-size: 60px !important;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
  nav {
    display: block;
    text-align: center;
  }
  nav ul {
    /* margin: 20px 0px 0px 20px; */
    background-color: grey;
    justify-content: space-around;
    border-radius: 50px;
  }
}

/* home page banner */

#banner {
  /* the image taken from https://unsplash.com/ */
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary-color)),
    url(Image/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 140px;
  filter: invert(1);
}

.banner-text {
  text-align: center;
  color: #fff;
}
.banner-text h1 {
  font-size: 130px;
  font-family: 'Kaushan Script', cursive;
}
.banner-text p {
  font-size: 20px;
  font-style: italic;
}
.banner-btn {
  margin: 70px auto 0;
}
.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: #000;
}

/*--feature--*/

#feature {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text p::after {
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(var(--primary-color), #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1 {
  font-size: 50px;
}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.features {
  flex-basis: 50%;
}
.features-img {
  flex-basis: 50%;
  margin: auto;
}
.features-img img {
  width: 70%;
  border-radius: 10px;
}
.features h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--primary-color);
}
.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.feature-icon .fa {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.feature-text p {
  padding: 0 20px;
  text-align: initial;
}
@media screen and (max-width: 768px) {
  .title-text h1 {
    font-size: 35px;
  }
  .features {
    flex-basis: 100%;
  }
  .features-img {
    flex-basis: 100%;
  }
  .features-img img {
    width: 100%;
  }
}

/* stats section */
.stats-section {
  background-color: var(--primary-color);
  padding: 80px 10%;
  display: flex;
  justify-content: space-around;
}

.stats-section .fa {
  font-size: 50px;
  margin-bottom: 10px;
}

.stats-section p {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .stats-section {
    display: block;
    padding: 50px 10%;
  }

  .stats-box {
    margin: 100px 0px;
  }
}

/*---testimonial----*/

#testimonial {
  width: 100%;
  padding: 70px 0;
}
.testimonial-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.testimonial-col {
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial-col p {
  font-size: 14px;
}
.user {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.user img {
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.user-info .fa {
  margin-left: 10px;
  color: #27c0ff;
  font-size: 20px;
}
.user-info small {
  color: var(--primary-color);
}
.testimonial-col:hover {
  transform: translateY(-7px);
}
@media screen and (max-width: 768px) {
  .testimonial-col {
    flex-basis: 100%;
  }
}

/* gallery */

.gallery-section {
  background-color: var(--paper-color-dark);
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* timing section */

.timing-section table,
.timing-section th,
.timing-section td {
  border: 1px solid black;
  padding: 10px;
}

.timing-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-div {
  display: flex;
  justify-content: center;
}

/*--footer--*/

.social-links .fa {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid var(--primary-color);
  margin: 40px 5px 0;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s;
}
.social-links .fa:hover {
  background: var(--primary-color);
  color: #fff;
  transform: translateY(-7px);
}
.social-links p {
  font-size: 12px;
  margin-top: 20px;
}

footer {
  background-color: #2e2c2c;
  padding: 25px 10%;
  padding-bottom: 20px;
}

footer .footer-seperator {
  border-bottom: 0.5px solid grey;
  margin-top: 25px;
  margin-bottom: -5px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  list-style: none;
}
.footer-links li,
.footer-links p {
  font-size: small;
  margin-top: 2px;
}

.footer-links .fa {
  margin-right: 4px;
}
.footer-links img {
  width: 80px;
}

@media only screen and (max-width: 768px) {
  .footer-links {
    display: block;
  }

  .footer-links ul {
    margin: 20px 0px;
  }
}

/*--service---*/

.services-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary-color)),
    url(Image/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#service {
  width: 100%;
  padding: 70px 0;
  background: var(--paper-color-dark);
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary-color));
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay {
  opacity: 1;
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p {
  font-size: 14px;
}
.single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1;
}

.appointment-section {
  padding: 50px 0px;
}

@media screen and (max-width: 768px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-desc {
    bottom: 25% !important;
  }
}

/* contact */

.contact-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary-color)),
    url(Image/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
